@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;

  --primary: #2563eb;
  --primary-hover: #1d4ed8;

  --card: #ffffff;

  --border: #cbd5e1;

  --text: #0f172a;
  --text-secondary: #475569;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Inter,
    var(--font-geist-sans),
    Arial,
    Helvetica,
    sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: .6;
}